terraform/deployment_definition.json
{"Comment":"Treza Enclave Deployment Workflow","StartAt":"ValidateDeploymentRequest","States":{"CheckDeploymentResult":{"Choices":[{"Next":"CheckExitCode","StringEquals":"STOPPED","Variable":"$.terraform_result.LastStatus"}],"Default":"UpdateStatusToFailed","Type":"Choice"},"CheckExitCode":{"Choices":[{"Next":"UpdateStatusToDeployed","NumericEquals":0,"Variable":"$.terraform_result.Containers[0].ExitCode"}],"Default":"UpdateStatusToFailed","Type":"Choice"},"CheckValidationResult":{"Choices":[{"BooleanEquals":true,"Next":"UpdateStatusToInProgress","Variable":"$.validation_result.Payload.valid"}],"Default":"UpdateStatusToFailed","Type":"Choice"},"NotifyError":{"End":true,"Parameters":{"FunctionName":"arn:aws:lambda:us-west-2:314146326535:function:treza-dev-error-handler","Payload":{"enclave_id.$":"$.enclave_id","error_message":"Step Functions execution failed","execution_arn.$":"$$.Execution.Name","execution_name.$":"$$.Execution.Name","state_machine.$":"$$.StateMachine.Name"}},"Resource":"arn:aws:states:::lambda:invoke","Type":"Task"},"RunTerraformDeployment":{"Catch":[{"ErrorEquals":["States.ALL"],"Next":"UpdateStatusToFailed","ResultPath":"$.error"}],"Next":"CheckDeploymentResult","Parameters":{"Cluster":"arn:aws:ecs:us-west-2:314146326535:cluster/treza-dev-infrastructure","LaunchType":"FARGATE","NetworkConfiguration":{"AwsvpcConfiguration":{"AssignPublicIp":"DISABLED","SecurityGroups":["sg-0da4f2c5d601b4442"],"Subnets":["subnet-0cbdd459cff34b2df","subnet-0afc82c3e2845c540"]}},"Overrides":{"ContainerOverrides":[{"Environment":[{"Name":"ENCLAVE_ID","Value.$":"$.enclave_id"},{"Name":"ACTION","Value":"deploy"},{"Name":"CONFIGURATION","Value.$":"$.configuration"},{"Name":"WALLET_ADDRESS","Value.$":"$.wallet_address"},{"Name":"VPC_ID","Value":"vpc-062cfabdc0716eae0"},{"Name":"SUBNET_ID","Value":"subnet-0cbdd459cff34b2df"},{"Name":"AWS_DEFAULT_REGION","Value":"us-west-2"},{"Name":"ENVIRONMENT","Value":"dev"}],"Name":"terraform-runner"}]},"TaskDefinition":"arn:aws:ecs:us-west-2:314146326535:task-definition/treza-dev-terraform-runner:61"},"Resource":"arn:aws:states:::ecs:runTask.sync","ResultPath":"$.terraform_result","Type":"Task"},"UpdateStatusToDeployed":{"End":true,"Parameters":{"ExpressionAttributeNames":{"#status":"status","#updated_at":"updated_at"},"ExpressionAttributeValues":{":status":{"S":"DEPLOYED"},":timestamp":{"S.$":"$$.State.EnteredTime"}},"Key":{"id":{"S.$":"$.enclave_id"}},"TableName":"treza-enclaves-dev","UpdateExpression":"SET #status = :status, #updated_at = :timestamp"},"Resource":"arn:aws:states:::dynamodb:updateItem","Type":"Task"},"UpdateStatusToFailed":{"Next":"NotifyError","Parameters":{"ExpressionAttributeNames":{"#error":"error_message","#status":"status","#updated_at":"updated_at"},"ExpressionAttributeValues":{":error":{"S.$":"$.validation_result.Payload.message"},":status":{"S":"FAILED"},":timestamp":{"S.$":"$$.State.EnteredTime"}},"Key":{"id":{"S.$":"$.enclave_id"}},"TableName":"treza-enclaves-dev","UpdateExpression":"SET #status = :status, #updated_at = :timestamp, #error = :error"},"Resource":"arn:aws:states:::dynamodb:updateItem","ResultPath":"$.status_update_result","Type":"Task"},"UpdateStatusToInProgress":{"Catch":[{"ErrorEquals":["States.ALL"],"Next":"UpdateStatusToFailed","ResultPath":"$.error"}],"Next":"RunTerraformDeployment","Parameters":{"ExpressionAttributeNames":{"#status":"status","#updated_at":"updated_at"},"ExpressionAttributeValues":{":status":{"S":"DEPLOYING"},":timestamp":{"S.$":"$$.State.EnteredTime"}},"Key":{"id":{"S.$":"$.enclave_id"}},"TableName":"treza-enclaves-dev","UpdateExpression":"SET #status = :status, #updated_at = :timestamp"},"Resource":"arn:aws:states:::dynamodb:updateItem","ResultPath":"$.update_result","Type":"Task"},"ValidateDeploymentRequest":{"Catch":[{"ErrorEquals":["States.ALL"],"Next":"UpdateStatusToFailed","ResultPath":"$.error"}],"Next":"CheckValidationResult","Parameters":{"FunctionName":"arn:aws:lambda:us-west-2:314146326535:function:treza-dev-validation","Payload":{"action.$":"$.action","configuration.$":"$.configuration","enclave_id.$":"$.enclave_id"}},"Resource":"arn:aws:states:::lambda:invoke","ResultPath":"$.validation_result","Retry":[{"BackoffRate":2,"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":5,"MaxAttempts":3}],"Type":"Task"}},"TimeoutSeconds":1200}
